.header .sub-menu-rotate {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.header .filter-menu {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
.header .filter-wrap:hover .filter-menu {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.open .grid .grid-wrapper {
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -webkit-transform: scale(.8);
}
.grid-item span.title {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
}
.grid-item span.category {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
}
.grid-item a:hover span.title-category:hover span.title {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
}
.grid-item a:hover span.title-category:hover span.category {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.blog-entry span.title {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
}
.blog-entry span.category {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
}
.blog-entry:hover span.title-category:hover span.title {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
}
.blog-entry:hover span.title-category:hover span.category {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.skill-box span:first-child {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
a.close-menu,a.close-menu-ajax {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
a.close-menu:after,a.close-menu-ajax:after {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.blog-entry img {
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.blog-entry:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}
.ajax-wrapper {
  -webkit-overflow-scrolling: touch;
}
